@font-face {
    font-family: "Cinzel";
    src: url("fonts/Cinzel-VariableFont_wght.ttf");
}

@media (max-aspect-ratio: 1/1) {
	div.middle {
		grid-template-rows: 4em 1fr max-content;
	}
}
@media (max-aspect-ratio: 2/3) {
	div.middle {
		height: 85vh;
		margin-top: 5vh;
	}
}

@media (max-width: 400px) {
	div.middle {
		grid-template-rows: 3em 1fr max-content;
	}
	div.middle #tiles {
		font-size: var(--font-big);
	}
	div#enter {
		font-size: var(--font-huge);
		left: calc(100% - 1.8em);
	}
	div#helpbutton {
		padding: 1rem 0 1rem 1rem;
	}
}

body {
	font-family: Cinzel, serif;
	font-weight: lighter;
}

.middle {
	display: grid;
	width: min(28em,95%);
	height: 100%;
	grid-template-rows: 6em 1fr max-content;
	align-items: center;
	justify-items: center;
	transition: visibility var(--fade-delay-start), opacity var(--fade-delay-start);
	font-size: var(--font-med);
}

#tiles {
	width: min(24em, 100%);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: var(--bg-color);
}
.tile {
	float: left;
	background: #303030;
	padding-block: 0.1em;
	padding-inline: 0.5em;
	margin: 0.2em;
	border: var(--line-thin) solid #444;
	border-radius: 0.4em;
	cursor: pointer;
	padding: 0.1em 0.35em 0 0.4em;
}
div.tile ::selection {
	background: #0000;
	color: var(--fg-color);
}

.tile.selected {
	border: var(--line-thin) solid var(--fg-color);
}
.subtile {
	padding-block: 0.1em 0;
	padding-inline: 0.2em;
	border-right: var(--line-thin) solid #444;
}
.subtile:first-child {
	padding-left: 0;
}
.subtile:last-child {
	border-right: 0;
	padding-right: 0;
}

#answer-panel {
	width: min(20em, 80%);
	height: 2em;
}
#working-answer {
	display: flex;
	height: var(--font-huge);
	border-bottom: var(--line-thin) solid var(--fg-color);
	align-items: end;
}
.guess-tile {
	float: left;
	cursor: pointer;
}
.guess-tile:hover {
	text-decoration: overline;
}
#working-answer:hover .guess-tile {
	color: var(--ac-color);
}
#working-answer:hover .guess-tile:hover {
	color: var(--fg-color);
}
#enter {
	height: var(--font-huge);
	padding-left: 1em;
	margin-left: 0.5em;
	position: relative;
	right: max(10%, calc(50% - 10em));
	float: left;
	cursor: pointer;
	touch-action: none;
	left: calc(100% - 2.4em);
	top: -1.2em;
	width: 2em;
}
#enter::before {
	content: "›››";
}
@media (pointer: coarse) {
	#enter {
		font-size: var(--font-huge);
	}
}

#wrong-answers {
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-self: start;
	overflow: hidden;
}
#wrong-answers > div {
	margin-inline: 0.5em;
	margin-block: 0.2em;
}
#wrong-answers > div:hover > .wa-tile {
	color: var(--ac-color);
}
#wrong-answers > div:hover > .wa-tile:hover {
	color: var(--fg-color);
	text-decoration: underline;
	text-underline-offset: 0.2em;
}


.popuplayer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 10;
	height: 97.5vh;
	transition: visibility 1s, opacity 1s;
	-webkit-tap-highlight-color: transparent;
}
#results-outer {
	padding: var(--font-small);
	border: var(--line-thick) double var(--pop-ac-color);
	color: var(--pop-ac-color);
	background: var(--pop-bg-solid);
	font-family: Bodoni Moda, serif;
	font-size: var(--font-small);
	max-width: 95%;
}
#results-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: var(--font-med);
	border: var(--line-thin) solid var(--pop-bg-clear);
	border-image-source: radial-gradient(ellipse 71% 71% at center, var(--pop-bg-color) 80%, var(--pop-ac-color) 97%);
	border-image-slice: 2%;
	border-image-width: var(--line-thin);
	text-align: center;
}
#finalword {
	margin: 0.4em 0;
	padding: 1rem 0;
	border-block: var(--line-thin) dotted var(--pop-ac-color);
	color: var(--fg-color);
	font-size: max(8pt, min(calc(100vw * 0.075), calc(var(--font-big) * 2)));
}
#links {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
#links > * {
	padding-inline: 1em;
}
#links a {
	color: var(--pop-ac-color);
	text-decoration: none;
}
