body {
	overflow: hidden;
}

#game-panel {
	width: min(30em,95%);
	height: 100%;
	transition: visibility var(--fade-delay-start), opacity var(--fade-delay-start);
	font-size: var(--font-med);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
#puzzle {
	width: 100%;
}
#outer-grid {
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: 1fr max-content 1fr;
	justify-items: center;
}
#outer-top-center {
	height: 5em;
	display: grid;
	align-items: end;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	justify-items: center;
}
#outer-top-center > div {
	margin-bottom: 0;
	text-align: center;
	color: var(--ac-color);
	width: 2em;
	height: 100%;
	justify-content: center;
	display: flex;
	align-items: end;
}
#outer-top-center div.tile {
	border-bottom: 0;
}
#puzzle.tile-selected #outer-top-center > div.open:before {
	content: '↓';
}
#outer-mid-left {
	height: 100%;
	display: grid;
	align-items: center;
	grid-template-rows: 1fr 1fr 1fr;
	width: 100%;
	justify-items: right;
}
#outer-mid-left > div {
	margin-right: 0;
	text-align: right;
	color: var(--ac-color);
	height: 2em;
	line-height: 2em;
	width: 100%;
	justify-content: right;
	display: flex;
	align-items: center;
}
#outer-mid-left div.tile {
	border-right: 0;
}
#puzzle.tile-selected #outer-mid-left > div.open:before {
	content: '→';
	margin-right: 0.2em;
}
#outer-mid-right {
	height: 100%;
	display: grid;
	align-items: center;
	grid-template-rows: 1fr 1fr 1fr;
	width: 100%;
	justify-items: left;
}
#outer-mid-right > div {
	margin-left: 0;
	text-align: left;
	color: var(--ac-color);
	height: 2em;
	line-height: 2em;
	width: 100%;
	justify-content: left;
	display: flex;
	align-items: center;
}
#outer-mid-right div.tile {
	border-left: 0;
}
#puzzle.tile-selected #outer-mid-right > div.open:after {
	content: '←';
	margin-left: 0.2em;
}
#outer-bot-center {
	height: 5em;
	display: grid;
	align-items: start;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	justify-items: center;
}
#outer-bot-center > div {
	margin-top: 0;
	height: 100%;
	text-align: center;
	color: var(--ac-color);
	width: 2em;
}
#outer-bot-center div.tile {
	border-top: 0;
}
#puzzle.tile-selected #outer-bot-center > div.open:after {
	content: '↑';
}
#puzzle:not(.success) div.open:hover {
	color: var(--fg-color);
	cursor: pointer;
}

#inner-grid {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	border: 1px dashed var(--ac-color);
	transition: border 0.4s, padding 0.4s;
}
#puzzle.success #inner-grid {
	padding: 0;
	border: 2px solid var(--pop-ac-color);
}
#inner-grid > div {
	width: 2em;
	height: 2em;
	border: 1px dashed #8888;
	line-height: 2em;
	text-align: center;
}
#inner-bot-center:hover {
	background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' stroke='rgb(256,234,128)' stroke-width='10' fill-opacity='0'> <path d='M 0 100 L 50 90 L 100 100'/> </svg>");
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
#inner-top-center:hover {
	background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' stroke='rgb(256,234,128)' stroke-width='10' fill-opacity='0'> <path d='M 0 0 L 50 10 L 100 0'/> </svg>");
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
#inner-mid-left:hover {
	background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' stroke='rgb(256,234,128)' stroke-width='10' fill-opacity='0'> <path d='M 0 0 L 10 50 L 0 100'/> </svg>");
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
#inner-mid-right:hover {
	background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' stroke='rgb(256,234,128)' stroke-width='10' fill-opacity='0'> <path d='M 100 0 L 90 50 L 100 100'/> </svg>");
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

#tiles {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: var(--bg-color);
	transition: filter 2s 1s;
}
#tiles.success {
	filter: opacity(0%);
}
.tile {
	float: left;
	background: #30303080;
	margin: 0.5em;
	border: var(--line-thin) solid #444;
	border-radius: 0.4em;
	cursor: pointer;
	padding: 0.2em;
	font-size: smaller;
}
@media (max-aspect-ratio: 1/1) {
	#tiles .tile {
		margin: 0.2em;
	}
}
.success .tile {
	cursor: default;
}
div.tile ::selection {
	background: #0000;
	color: var(--fg-color);
}
.tile.selected {
	border: var(--line-thin) solid var(--fg-color);
}
#puzzle .tile {
	color: var(--fg-color);
}
#puzzle .tile.correct {
	border-color: var(--pop-ac-color);
	border-width: 2px;
}
.tile.top {
	border-radius: 0.4em 0.4em 0 0;
	padding: 0.2em;
	margin: 0;
	width: max-content;
}
.tile.bottom {
	border-radius: 0 0 0.4em 0.4em;
	padding: 0.2em;
	margin: 0;
	width: max-content;
}
.tile.left {
	border-radius: 0.4em 0 0 0.4em;
	padding: 0.2em;
	margin: 0;
	height: fit-content;
}
.tile.right {
	border-radius: 0 0.4em 0.4em 0;
	padding: 0.2em;
	margin: 0;
	height: fit-content;
}
.letter {
	float: left;
	width: 1.5em;
	text-align: center;
	border-radius: 50%;
	height: 1.5em;
	margin-inline: 0.1em;
	line-height: 1.5em;
	background: #3a3a3a;
}
@media (max-aspect-ratio: 6/5) {
	#tiles .letter {
		float: none;
		margin: 0.1em;
		font-size: var(--font-small);
	}
}

#inner-grid > .wrong {
	color: var(--ac-color);
}
#inner-grid > .wrong::first-letter {
	font-size: 150%;
	font-weight: lighter;
	text-shadow: #fff 0 0 0.1em;
}
#inner-grid > .right {
	color: var(--pop-ac-color);
	font-weight: bold;
}
.tile.verticle {
	float: none;
	margin-inline: auto;
}
.tile.verticle .letter {
	float: none;
	margin: 0.1em 0;
}
.tile:empty {
	display: none;
}
.fade {
	color: var(--ac-color);
	filter: blur(0.05em) opacity(40%);
}

.popup-layer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 10;
	height: 97.5vh;
	transition: visibility 1s, opacity 1s;
	-webkit-tap-highlight-color: transparent;
}
#score-layer.popup-layer {
	width: 100%;
	align-items: end;
	transition: visibility 2s 1s, opacity 2s 1s;
}
@media (max-aspect-ratio: 9/12) {
	div#score-layer.popup-layer {
		height: 85vh;
	}
}

#results-outer {
	border: var(--line-thick) solid var(--pop-ac-color);
	color: var(--pop-ac-color);
	font-size: var(--font-small);
	max-width: 95%;
	margin-bottom: calc(4.5em + env(safe-area-inset-bottom));
}
#results-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	padding: 0.5em;
	margin-inline: 0.5em;
	text-align: center;
}
#results-inner h1 {
	font-weight: 400;
	margin: 0;
}
#links {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
#links > * {
	padding-inline: 1em;
}
#links a {
	color: var(--pop-ac-color);
	text-decoration: none;
}
