.keyboard {
    width: 18em;
}
.keyboard-row {
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#keyboard-row-mid { width:90%; }
.keyboard-key {
    flex: 1;
    padding: 0.3em 0.1em;
    border: solid var(--line-thin) #000;
    margin: 0.2em;
    text-align: center;
    background-color: #1114;
    cursor: pointer;
}
.keyboard-key:hover, .keyboard-key.fixed:hover {
    border-color: var(--pop-ac-color);
    background-color: #fe81;
}
.keyboard-key.absent .symbol {
    filter: brightness(60%) blur(0.03em);
}
.keyboard-key.absent:hover .symbol {
    filter: brightness(60%);
}
.keyboard-key.fixed {
    border-bottom-color: var(--ac-color);
}
#key-del, #key-enter {
    font-size: 0.5em;
    margin: auto 0.4em;
    padding: 1.22em 0.2em;
}
#key-del {
    padding-inline: 1.06em;
}
#key-enter {
    padding-inline: 0.38em;
}
